body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e0f3ff, #a6d8ff);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.fields {
    display: none;
}

.fields label {
    font-weight: bold;
}

.fields input[type="text"],
.fields input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.fields input[type="checkbox"] {
    margin-top: 5px;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-weight: bold;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #45a049;
}
.side-container {
    position: absolute; 
    top: 50%;
    right: 15%; /* Ajusta la distancia desde el borde derecho */
    transform: translateY(-50%);
    width: 200px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.side-container .my-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.side-container .my-button:hover {
    background-color: #45a049;
}

.container-tablas {
    position: absolute; 
    top: 50%;
    left: 15%; /* Ajusta la distancia desde el borde derecho */
    transform: translateY(-50%);
    width: 200px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container-tablas .my-Nobutton {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.container-tablas .my-Nobutton:hover {
    background-color: #45a049;
}

.resultados-form {
    position: relative; /* Cambiado de absolute a relative */
    margin-top: 10px; /* Ajusta la separación desde el contenedor anterior */
}

.animated-text {
  position: absolute;
  left: 50px; /* Ajusta la posición horizontal según sea necesario */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%);
  animation: moveArc 8s linear infinite; /* Aumenté la duración de la animación */
}

@keyframes moveArc {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, -50px); /* Aumenté la distancia horizontal y vertical */
  }
  50% {
    transform: translate(200px, 0); /* Aumenté la distancia horizontal */
  }
  75% {
    transform: translate(300px, 50px); /* Aumenté la distancia horizontal y vertical */
  }
}

.text {
  margin: 0;
  padding: 0;
  font-size: 60px; /* Ajusta el tamaño del texto según sea necesario */
  font-weight: bold;
  color: #333; /* Ajusta el color del texto */
  animation: fadeInOut 8s ease-in-out infinite alternate; /* Aumenté la duración de la animación */
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0; /* El texto estará invisible al inicio y al final de la animación */
  }
  50% {
    opacity: 1; /* El texto estará completamente visible en la mitad de la animación */
  }
}

#rut-input-container {
    display: none;
}

#rut-input-container.show {
    display: block;
}
.show {
    display: block !important; /* Asegurarse de que la clase show sobrescriba cualquier estilo de display */
}