<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Datos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='descarga.png') }}">

</head>
<body>
   
    <div class="container">
        <h1>Gestionar Datos</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="/gestionar_datos" method="POST" id="formulario">
            <label for="tipo_entidad">Tipo de entidad:</label>
            <select id="tipo_entidad" name="tipo_entidad" onchange="mostrarCampos()">
                <option value="autor">Autor</option>
                <option value="libro">Libro</option>
                <option value="usuario">Usuario</option>
                <option value="edicion">Edición</option>
                <option value="autores">Autores</option>
                <option value="tiene">Tiene</option>
                <option value="copia">Copia</option>
                <option value="prestamo">Préstamo</option>
            </select><br><br>

            <label for="operacion">Operación:</label>
            <select id="operacion" name="operacion" onchange="mostrarCampos()">
                <option value="insertar">Insertar</option>
                <option value="actualizar">Actualizar</option>
                <option value="borrar">Borrar</option>
            </select><br><br>

            <div id="RUT" class="fields">
                <label for="RUT">RUT:</label>
                <input type="text" id="RUT_input" name="RUT"><br><br>
            </div>

            <div id="nombre_fields" class="fields">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre_input" name="nombre"><br><br>
            </div>

            <div id="nombre_nuevo_fields" class="fields">
                <label for="nombre_nuevo">Nombre Nuevo:</label>
                <input type="text" id="nombre_nuevo_input" name="nombre_nuevo"><br><br>
            </div>

            <div id="titulo_fields" class="fields">
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo_input" name="titulo"><br><br>
            </div>
            <div id="ISBN_fields" class="fields">
                <label for="ISBN">ISBN:</label>
                <input type="text" id="ISBN_input" name="ISBN"><br><br>
            </div>
            <div id="titulo_nuevo_fields" class="fields">
                <label for="titulo_nuevo">Titulo Nuevo:</label>
                <input type="text" id="titulo_nuevo_input" name="titulo_nuevo"><br><br>
            </div>



            <div id="numero_copia_fields" class="fields">
                <label for="numero_copia">Número de Copia:</label>
                <input type="text" id="numero_copia_input" name="numero_copia"><br><br>
            </div>

            <div id="ISBN_nuevo_fields" class="fields">
                <label for="ISBN_nuevo">ISBN Nuevo:</label>
                <input type="text" id="ISBN_nuevo_input" name="ISBN_nuevo"><br><br>
            </div>

            <div id="año_fields" class="fields">
                <label for="año">Año:</label>
                <input type="text" id="año_input" name="año"><br><br>
            </div>

            <div id="año_nuevo_fields" class="fields">
                <label for="año_nuevo">Año Nuevo:</label>
                <input type="text" id="año_nuevo_input" name="año_nuevo"><br><br>
            </div>

            <div id="idioma_fields" class="fields">
                <label for="idioma">Idioma:</label>
                <input type="text" id="idioma_input" name="idioma"><br><br>
            </div>

            <div id="numero_copia_nuevo_fields" class="fields">
                <label for="numero_copia_nuevo">Nuevo Número de Copia:</label>
                <input type="text" id="numero_copia_nuevo_input" name="numero_copia_nuevo"><br><br>
            </div>

            <div id="disponible_fields" class="fields">
                <label for="disponible">Disponible:</label>
                <input type="checkbox" id="disponible_input" name="disponible"><br><br>
            </div>

            <div id="disponible_nuevo_fields" class="fields">
                <label for="disponible_nuevo">Nuevo Disponible:</label>
                <input type="checkbox" id="disponible_nuevo_input" name="disponible_nuevo"><br><br>
            </div>

            <div id="fecha_prestamo_fields" class="fields">
                <label for="fecha_prestamo">Fecha de Préstamo:</label>
                <input type="date" id="fecha_prestamo_input" name="fecha_prestamo"><br><br>
            </div>

            <div id="fecha_devolucion_fields" class="fields">
                <label for="fecha_devolucion">Fecha de Devolución:</label>
                <input type="date" id="fecha_devolucion_input" name="fecha_devolucion"><br><br>
            </div>

            <div id="fecha_prestamo_nuevo_fields" class="fields">
                <label for="fecha_prestamo_nuevo">Nueva Fecha de Préstamo:</label>
                <input type="date" id="fecha_prestamo_nuevo_input" name="fecha_prestamo_nuevo"><br><br>
            </div>

            <div id="fecha_devolucion_nuevo_fields" class="fields">
                <label for="fecha_devolucion_nuevo">Nueva Fecha de Devolución:</label>
                <input type="date" id="fecha_devolucion_nuevo_input" name="fecha_devolucion_nuevo"><br><br>
            </div>

            <input type="submit" value="Ejecutar">

        </form>
       
    </div>
    <div class="side-container">
        <h2>Consultas</h2>
        
        <form action="/resultados" method="post" class="resultados-form">
            <button type="submit" class="my-button">Mostrar Listado de Libros</button>
        </form>
        <form action="/resultados2" method="post" class="resultados-form">
            <button type="button" id="show-rut-btn" class="my-button"> Libros Prestados Por Usuarios</button>
            <!-- Campo para ingresar el RUT -->
            <div id="rut-form-container" style="display: none;">
                <label for="RUT">RUT:</label>
                <input type="text" id="RUT_input" name="RUT" placeholder="Ingresa un RUT"><br><br>
                <button id="submit-rut-btn" class="my-button" >Enviar</button>
            </div>
        </form>
    </div>
    <div class="container-tablas">
        <h2>Tablas</h2>
        <form action="/TablaAutor" method="post" class="resultados-form">
            <button type="submit" class="my-Nobutton">Tabla Autor</button>
        </form>
        <form action="/TablaAutores" method="post" class="resultados-form">
            <button type="submit" class="my-Nobutton">Tabla Autores</button>
        </form>
        <form action="/TablaLibros" method="post" class="resultados-form">
            <button type="submit" class="my-Nobutton">Tabla Libros</button>
        </form>
        <form action="/TablaEdiciones" method="post" class="resultados-form">
            <button type="submit" class="my-Nobutton">Tabla Ediciones</button>
        </form>
        <form action="/TablaTiene" method="post" class="resultados-form">
            <button type="submit" class="my-Nobutton">Tabla Tiene</button>
        </form>
        <form action="/TablaUsuarios" method="post" class="resultados-form">
            <button type="submit" class="my-Nobutton">Tabla Usuarios</button>
        </form>
        <form action="/TablaPrestamos" method="post" class="resultados-form">
            <button type="submit" class="my-Nobutton">Tabla Prestamos</button>
        </form>
        <form action="/TablaCopias" method="post" class="resultados-form">
            <button type="submit" class="my-Nobutton">Tabla Copias</button>
        </form>
    </div>
    
    
    <div class="animated-text">
        <h3 class="text">Team 4 </h3>
      </div>
        </form>
    </div>
</body>
</html>