<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados por RUT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Consulta por RUT</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Nombre del usuario</th>
                    <th>Nombre del Libro</th>
                    <th>ISBN</th>
                    <th>Número de Copia</th>
                    <th>Fecha de Préstamo</th>
                    <th>Fecha de Devolución</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se mostrarán los resultados de la consulta -->
                {% for result in resultados %}
                <tr>
                    <td>{{ result.nombre }}</td>
                    <td>{{ result.nombre_libro }}</td>
                    <td>{{ result.ISBN }}</td>
                    <td>{{ result.numero_copia }}</td>
                    <td>{{ result.fecha_prestamo }}</td>
                    <td>{{ result.fecha_devolucion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
